<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bbbond.android_study_kt" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application>
        <activity android:name="com.bbbond.moduleAdmob.AdMobMainActivity"/>
        <activity android:name="com.bbbond.moduleAdmob.banner.AdMobBannerActivity"/>
        <activity android:name="com.bbbond.moduleAdmob.interstitial.AdMobInterstitialActivity"/>
        <activity android:name="com.bbbond.moduleAdmob.rewarded.AdMobRewardedActivity"/>
    </application>
</manifest>
